<h4>Formularios <small>data</small></h4>
<hr>
<form [formGroup]="formulario" (ngSubmit)="guardarCambios()" novalidate="novalidate">

    <div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">
                <input class="form-control" type="text" placeholder="Nombre" formControlName="nombre" [ngClass]="{'is-invalid':formulario.controls['nombre'].errors!=null && formulario.controls['nombre'].touched, 'is-valid':formulario.controls['nombre'].errors==null}">
                <div *ngIf="formulario.controls['nombre'].errors?.required" class="form-control-feedback invalid-feedback">
                    El nombre es obligatorio
                </div>
                <div *ngIf="formulario.controls['nombre'].errors?.minlength" class="form-control-feedback invalid-feedback">
                    Por lo menos 3 caracteres
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col-8">
                <input class="form-control" type="text" placeholder="Apellido" formControlName="apellido" [ngClass]="{'is-invalid':formulario.controls['apellido'].errors!=null && formulario.controls['apellido'].touched, 'is-valid':formulario.controls['apellido'].errors==null}">
            </div>
        </div>

    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-md-8">

            <input class="form-control" type="email" placeholder="Correo electrónico" formControlName="correo" [ngClass]="{'is-invalid':formulario.controls['correo'].errors!=null && formulario.controls['correo'].touched, 'is-valid':formulario.controls['correo'].errors==null}">
        </div>
    </div>



    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary">
                Guardar
            </button>
        </div>
    </div>

    {{ formulario.valid}}
</form>